h1 {
    text-align: center;
    padding: 10px;
    font-size: 100px;
    
    
}

body {
    background-color: blanchedalmond;
    font-family: "Avant Garde";
}
ul {
    padding: 5px;
    margin: 5px;
    background: #faebd7;
}

.mealNames {
    padding: 5px;
    border: 1px, solid, black; 
}